@model Pageheader
@{
    ViewBag.Title = "_PageHeader";
}

<!-- header -->
<header id="page-top" class="blog-banner" style="background-image:url(Uploads/@Model.BackgroundPhoto)">
    <!-- Start: Header Content -->
    <div class="container" id="blog">
        <div class="row blog-header text-center wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                @foreach (KeyValuePair<string, string> page in Model.Breadcrump)
                {
                    if(page.Value != null)
                    {
                        <a href="@page.Value">@page.Key</a> <span>/</span>
                    }
                    else
                    {
                     <span>@page.Key</span> 
                    }
                }
             
                <h3>@Model.Name</h3>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. header -->
<!-- End: Header Section
==================================================-->
